# 연산문

## 파이썬의 기본 자료형

|구분|자료형(type)|내용|예|
|---|---|---|---|
|논리형|bool|참 또는 거짓|True, False| 
|수치형|int<br>float<br>complex|정수<br>실수<br>복소수|123<br>20.33<br>10+j2|
|문자열|str<br>byte|유니코드 문자열<br>1바이트문자열|"한국",'Korea',"""한국""", '''Korea'''<br>b'Korea'|

## 수치연산
* 파이썬 수치형 데이터는 :int, float, complex 로 각각 정수 , 실수, 복소수를 나타낸다.   

* 수치 연산자

|연산자|설명|예|
|-------|---------|---------|
|** |지수연산 |>>> 2**3   <br>8|
|*  |곱하기   |>>> 2*9    <br>18|
|/  |나누기   |>>> 3/4    <br>0.75|
|// |몫 구하기|>>> 9//2   <br>4|
|%  |나머지 구하기|>>> 9%4 <br>1|
|+  |더하기   |>>> 1+2 <br>3|
|-  |빼기    | >>> 1-2 <br>-1|

> 지수연산

In [1]:
398 ** 2

158404

실수 + 정수 = 실수

In [4]:
a= 55.6; 
b=7; 
c=a+b; 
print(c); type(c)

62.6

float

int(), abs() 함수 사용

In [5]:
s= int(c); 
k= s -900
k2 = abs(k)

s, k ,k2

(62, -838, 838)

max(), min(), sum() 함수 사용

In [8]:
p = ( 10, 100, -20, 50, 44)
a= max(p)
b= min(p)
c= sum(p)
print(a, b, c)

100 -20 184

## 문자연산
* 작은 따옴표나, 큰 따옴표로 묶어서 표현한다.

In [9]:
a= "파이썬 좋아"
b= 'Korea'
c= "파이썬 파이팅 \
    문자열 방식"
print (a,b,c)

파이썬 좋아 Korea 파이썬 파이팅     문자열 방식

* 따옴표 자체를 문자로 다룰때
  1. 작은 따옴표 표현을 위해 큰 따옴표로 묶어 준다.
  2. 파이썬 제어 문자 `\`를 사용한다.

In [12]:
p1= "I'm a boy\n"
p2= "You don't know\n"
p3= 'I\'m a boy\n'
p4= "Korea\tChana\n"
print(p1,p2,p3,p4)

I'm a boy
 You don't know
 I'm a boy
 Korea	Chana

* 제어 문자

|문자|표현|문자|표현|
|---|---|---|---|
|'  | `\`'|줄바꾸기| `\`n|
|"  | `\`"|탭| `\`t|
|`\`  | `\\`|ESC키| `\`e|
|연속줄| `\`| 8진수코드| `\`0값|
|백스페이스| `\`b| 16진수코드| `\`x값|

* 문자열 결합연산
  * 덧셈 기호 사용 `+`
  * 곱셈 기호 사용 `*`

In [13]:
c= a+ b
c

'파이썬 좋아Korea'

In [14]:
d= "---"*10
d

'------------------------------'

* 인덱스를 사용한 접근 (indexing)
  * 문자열은 일종의 순서형 데이터로 튜플형(tuple)과 유사
  * index를 이용한 접근 가능

  ```
  a= "우리나라 대한민국"
  ```

  a 문자열에 저장된 형태

|저장된 내용|우|리|나|라||대|한|민|국|
|---|---|---|---|---|---|---|---|---|---|
|index + |0|1|2|3|4|5|6|7|8|
|index - |-9|-8|-7|-6|-5|-4|-3|-2|-1|

In [15]:
a="우리나라 대한민국"
a[-2]

'민'

In [16]:
a[0]

'우'

In [17]:
a[9]

IndexError: string index out of range

* 문자 슬라이싱(slicing)
  
  [시작:끝 직전:간격]

In [18]:
a[1:6]

'리나라 대'

In [19]:
a[0:7]

'우리나라 대한'

In [20]:
a[-9:-6]

'우리나'

In [21]:
a[-3:-9]      # 시작이 끝이 교차하는 곳이 없다

''

In [22]:
a[-3:-9:-1]     # -1 방향으로 문자열 취함

'한대 라나리'

In [28]:
a[:]        # 슬라이싱 시작과 끝 생략

'우리나라 대한민국'

In [29]:
a[:6]       # 시작지점 생략

'우리나라 대'

In [27]:
a[::3]      # 3 인덱스씩 건너뛰며 취한다.

'우라한'

* 부분문자열을 수정할 수는 없다.

In [30]:
a= '우리나라 대한민국'
a[0]= '사'

TypeError: 'str' object does not support item assignment

In [31]:
a= '아름다운 우리강상'
a= '예쁜' + a[:5]
a

'예쁜아름다운 '

* for 문을 이용한 순환 문자열 출력

In [32]:
my_string= '아름다운 우리강산'
for ch in my_string:
    print(ch)

아
름
다
운

우
리
강
산

* for문을 이용한 가로로 문자열 출력하기  `end`, `sep`
 

    ```
    print(ch, end='')
    print(20,30,40, sep= ' :: ')
    ```

In [33]:
my_string= '아름다운 우리강산'
for ch in my_string:
    print(ch, end='')

아름다운 우리강산

* 구분자 사용
  
    ```  
    print(20,30,40, sep= ' :: ')
    ```

In [34]:
print(20,30,40, sep= ' :: ')

20 :: 30 :: 40

* 문자열 길이 확인 : len() 함수

In [35]:
apb = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
length = len(apb)
length

26

* 부분문자열 검사 : in 연산자

In [36]:
apb = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
'abc' in apb

False

In [37]:
apb = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
'ABC' in apb

True

* 부분문자열 위치 찾기 : find() 메서드
  
  str.find(문자열. 시작, 끝)

In [40]:
p= apb.find('jkl')          # 목 찾으면 정수값 -1 반환, -1은 False를 의미한다.
p

-1

In [39]:
p=apb.find('JKL')           # 찾은 경우 찾은 위치 반환
p

9

* 부분문자열 개수 체크 : count() 메서드

In [41]:
'우리나라 우리 우리나라 우리'.count("우리")

4

In [42]:
'방네' in '동네방네'        # "동네방네"에 "방네"라는 문자열이 있는가?

True

* 대소문자 전환 : lower(), upper(), swapcase() 메서드

        원본데이터는 바뀌지 않는다.

In [48]:
apb = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
apb.lower(), apb        # 원본데이터는 바뀌지 않는다.

('abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')

In [44]:
apb = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
apb.swapcase()

'abcdefghijklmnopqrstuvwxyz'

* 문자의 분리 : split() 메서드
  
  > split() 매서드는 문자열 리스트 구조를 반환한다.

In [50]:
data= '이이표, 박은천, 성낙영, 도규현'
data2= data.split(',')
print(data2)

['이이표', ' 박은천', ' 성낙영', ' 도규현']

In [51]:
for na in data2: 
    print(na)

이이표
 박은천
 성낙영
 도규현

* 문자의 결합: join() 메서드

In [53]:
data3= ':'.join(data2)
data3

'이이표: 박은천: 성낙영: 도규현'

* 문자열 대체: replace() 메서드

In [55]:
k= '우리나라 우리니라'
k= k.replace('우리', '남의')
k

'남의나라 남의니라'

* 문자열 공백 없애기 : strip(), rstrip(), lstrip() 메서드

In [57]:
a = ' 우리나라 '
a = a.strip(' ')
a

'우리나라'

In [59]:
a = '*****우리나라******'
a = a.lstrip('*')
a

'우리나라******'

* 문자열 내용 검사 메서드
  
|메서드|동작|
|---|---|
|.isalpha|문자열이 영문자나 유니코드 문자 인가?|
|.isalnum|문자열이 수치 또는 영문자, 유니코드 문자인가?|
|.isnumeric()|문자열이 수치인가?|
|.islower()|소문자인가?|
|.isupper()|대문자인가?|
|.isspace()|공백인가?|

* 문자열 서식지정 메서드
  * 주로 print함수와 함께 사용
  * {}를 이용하여 데이터의 서식을 지정
    
    ```
    " {0} {1:>7.2f} ".format(250, 43.9875)
    ```
|{0} |250|0번째 요소 출력|
|---|--------|-------|
|{1:>7.2f}|43.9875|1번째 요소를 양식에 맞게 출력    |
    
    ```
    {1:>7.2f} 
    ```
| > | 우측정렬|
|---|--------|
|7.2|최소 7자리 확보, 소수점이하 두자리 까지|
|f| floating point 형태|

In [61]:
a= " {0} {1:>7.2f} ".format(250, 43.9875)
print(a)

 250   43.99

In [62]:
print("{}.............{}".format(49,290))

49.............290

In [63]:
print("{1}.............{0}".format(49,290))

290.............49

In [64]:
print("{0:>10d}.............{1:10d}".format(49,290))

        49.............       290

In [66]:
print("십진수={0:d}   이진수={0:b}   8진수={0:o}   16진수={0:x}".format(255))

십진수=255   이진수=11111111   8진수=377   16진수=ff