# 파이썬의 기초 문법
## 변수 (Variable)
* 변수 이름 짓기 필수 규칙
  * 문자나 언더바(_) 숫자를 결합하여 만든다.
  * 숫자로 시작하거나, 특수 문자를 포함 할 수 없다.
  * 예약어는 변수로 사용하지 못한다. 
  * 내장함수 등을 변수명으로 사용하지 말자.

In [1]:
kor = 67
eng = 88
mat = 79
tot = kor + eng + mat
print(kor, eng, mat, tot)

67 88 79 234

* 파이썬 키워드(예약어)를 알아보는 명령은 다음과 같다.

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
_kor = 34
2eng = 124
eng%5 = "우리나라"

사람 = 79
사람
for = 25

SyntaxError: invalid decimal literal (1198454697.py, line 2)

> 내장함수등 변수명으로 사용하지 말자.
> 그러면 다음과 같이 내장함수의 기능을 잃어 버린다.

In [4]:
a=input("나이를 입력하세요")
a
input="우리나라"
a=input("나이를 입력하세요")

TypeError: 'str' object is not callable

## 변수에 값 대입하기

In [5]:
a = 255 + 488
a
type(a)

int

In [6]:
a = "안녕"
type(a)

str

> 문자열과 숫자를 더하면 에러가 발생

In [7]:
a = "대한민국" + 345

TypeError: can only concatenate str (not "int") to str

> 문자열과 문자열 더하기

In [11]:
a=" 대한민국 "+"345"
a

' 대한민국 345'

In [12]:
a= " 대한민국 "
b= 3700
c= a + str(b)
c

' 대한민국 3700'

문자열 숫자로 바꾸기 
`int()`

In [14]:
a = "25"
b = "360" 
c = a + b
d = int(a) + int(b)
c, d

('25360', 385)

## 변수의 기타 특징
* 여러 변수에 각각 대입

In [15]:
a, b, c = 500, 600, 700
print(a,b,c)

500 600 700

* 여러 변수에 하나의 값 대입

In [16]:
a= b= c= 7000
print(a,b,c)

7000 7000 7000

* 두 변수값 교환
  a와 b 값을 교환한다. 
  ```python

  a, b = b, a
  ```
  다음 처럼 임시 변수를 사용할 필요가 없다.

  ```c
  temp= a
  a= b
  b= temp
  ```

In [17]:
a= 200
b = "파이썬"
a, b = b, a
print(a,b)

파이썬 200

## 변수의 packing과 unpacking

* 순서화 집단자료형인 튜플을 만든다.

In [18]:
a= (1, 7, 2, 4, 5, 7)
a

(1, 7, 2, 4, 5, 7)

* 집단 자료형에서 개별 데이터를 출력한다.

In [19]:
a[2]

2

* packing 한다.

In [20]:
k= 1, 2, 3
print(k)

(1, 2, 3)

* unpacking 한다.

In [21]:
x, y, z = k
print(x,y,z)

1 2 3

# 기타 문법

* 세미콜론(`;`)으로 구분시 한줄에 여러 문장 작성 가능

In [22]:
a=20; b=70; c= 50; print(a,b,c)

20 70 50

* 문장이 길때는 (`\`)역슬래쉬 문자를 사용

In [25]:
a = 40 + \
    50
a

90

* 명령문은 반드시 첫 번째 열부터 입력해야 한다.
  
  ```
  >>> _a=100
      ^ SyntaxError
  ```