## 필수 패키지 설치

python의 pandas, xled, openpyxl 패키지를 설치 한다.
```bash
$ pip install pandas xlrd openpyxl 
```

In [58]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.read_excel('sample.xlsx')

df.head()

   Num       Date         Category  Deposit  Withdraw  Balance
0    1 2020-07-13              201    30000         0    30000
1    2 2020-07-14              204   220000         0   250000
2    3 2020-07-15  management rate        0    150000   100000
3    4 2020-07-16              303   300000         0   400000
4    5 2020-07-17              305   300000         0   700000

In [59]:
# 엑셀 파일의 Category 컬럼을 pandas에서 사용하는 astype("category")로 지정한다.
df['Category'] = df['Category'].astype("category")
# 텍스트로 입력된 Date를 pandas의 datetime 형식으로 변경한다.
df['Date'] = pd.to_datetime(df['Date'])
# DateMonth을 %Y-%m 형식으로 표시하고, astype("category")로 지정한다.
df['DateMonth'] = df['Date'].dt.strftime('%Y-%m').astype("category")

In [60]:

# 행은 'Category', 열은 'DateMonth', 값은 'Deposit'로 피벗을 만든다.
df_Deposit = df.pivot_table(index = ['Category'], columns = 'DateMonth', values = ['Deposit'], aggfunc=np.sum)
# csv파일로 저장한다.
df_Deposit.to_csv("./pivoted-Deposit-sample.csv", sep=",", encoding="utf-8")
print(df_Deposit)

                     Deposit                                             \
DateMonth            2020-07 2020-08  2020-09 2020-10  2020-11  2020-12
Category
101                  3400000  400000   400000  385000   800000   400000
102                   300000       0  2300000       0   600000   300000
103                   260000  260000   260000  520000   260000   260000
104                        0  660000        0  440000        0   440000
105                        0  280000   560000  560000        0   560000
106                        0  600000   200000  200000   200000   200000
201                    30000   60000    55500   30000    30000    30000
202                   300000  300000  2300000  900000   300000  2300000
203                        0       0        0  280000        0   280000
204                   220000  800000   300000  600000        0  1340000
205                   300000  300000   300000  300000   600000   300000
206                   220000  220000   220000  440000   220000   220000
301                        0  400000  2400000  400000   400000        0
302                   300000  300000   300000  300000   300000   300000
303                   300000  600000   300000  300000   600000   300000
304                   220000  440000   220000  220000   220000   220000
305                   500000  200000        0  400000  2700000   300000
306                   220000  220000   220000  440000   220000   220000
electricity pricing        0       0        0       0        0        0
internet pricing           0       0        0  764940        0        0
management rate            0       0        0       0        0        0
water rate                 0       0        0       0        0        0

                                                         ...                   \
DateMonth            2021-01  2021-02  2021-03  2021-04  ...  2021-06 2021-07
Category                                                 ...
101                   400000   400000   400000   400000  ...   355000  400000
102                   300000        0   300000   600000  ...        0  600000
103                   260000   260000  2300000   300000  ...   300000  600000
104                        0   440000        0  1230000  ...   230000  460000
105                        0   560000        0   280000  ...   280000  280000
106                        0   400000        0   600000  ...   200000  200000
201                    30000  3450000   450000   450000  ...  3800000  400000
202                   300000   300000   300000   300000  ...   300000  300000
203                   280000   280000   560000        0  ...   280000  280000
204                   240000   240000   480000        0  ...   240000  240000
205                   300000   300000   300000   300000  ...   300000  300000
206                   220000   220000   220000   220000  ...   220000  220000
301                  3400000        0   400000   400000  ...   400000  400000
302                   300000   300000   300000   300000  ...   600000  300000
303                   300000        0   600000   300000  ...   300000  300000
304                   220000   220000   440000        0  ...   220000  220000
305                   300000        0   600000   300000  ...   300000  300000
306                   220000  2230000   230000   230000  ...   230000  460000
electricity pricing        0        0        0        0  ...        0       0
internet pricing           0        0        0        0  ...        0       0
management rate            0        0        0        0  ...        0       0
water rate                 0        0        0        0  ...        0       0

                                                                         \
DateMonth            2021-08 2021-09  2021-10  2021-11 2021-12  2022-01
Category
101                   800000  400000   400000   400000  400000   400000
102                        0  300000   600000  2650000  350000   350000
103                   300000  300000   300000   300000  300000   650000
104                   230000  230000   230000   230000  230000   230000
105                   280000  280000   280000   280000  280000   280000
106                   200000  200000   200000   200000  400000   250000
201                   400000  400000   400000   400000  800000   400000
202                   300000  300000   300000  2350000  350000   350000
203                   280000  280000   280000   280000  640000        0
204                   240000  240000   240000   240000  520000   260000
205                   300000  435000   330000   300000  300000   300000
206                  2540000  250000   250000   250000  250000   500000
301                   400000  400000  3550000   450000  450000   450000
302                   300000  300000   300000   350000  350000   350000
303                   300000  600000        0   300000  600000   300000
304                   220000  220000   220000   220000  500000   250000
305                   320000  640000        0   320000       0   640000
306                   230000  230000   230000   230000  230000  2300000
electricity pricing        0       0        0        0       0        0
internet pricing           0       0        0        0       0        0
management rate            0       0        0        0       0        0
water rate                 0       0        0        0       0        0


DateMonth            2022-02  2022-03
Category
101                   400000   400000
102                   350000        0
103                  2550000        0
104                   230000   250000
105                   280000   280000
106                        0   250000
201                   400000        0
202                   350000  3350000
203                   420000   420000
204                   260000        0
205                   300000   300000
206                        0   250000
301                        0   900000
302                   350000   350000
303                  3050000        0
304                        0   250000
305                        0   320000
306                   260000   260000
electricity pricing        0        0
internet pricing           0        0
management rate            0        0
water rate                 0        0

[22 rows x 21 columns]

In [61]:
# 행은 'Category', 열은 'DateMonth', 값은 'Withdraw'로 피벗을 만든다.
df_Withdraw = df.pivot_table(index = ['Category'], columns = 'DateMonth', values = ['Withdraw'], aggfunc=np.sum)
# csv파일로 저장한다.
df_Withdraw.to_csv("./pivoted-Withdraw-sample.csv", sep=",", encoding="utf-8")
print(df_Withdraw)

                    Withdraw                                              \
DateMonth            2020-07  2020-08  2020-09 2020-10  2020-11  2020-12
Category
101                   400000        0        0       0        0        0
102                        0  2060000        0  230000        0        0
103                        0        0        0       0        0        0
104                        0        0        0       0        0        0
105                        0        0        0       0        0     5000
106                        0        0        0       0        0        0
201                        0        0    25500       0        0        0
202                        0    50000  1812000       0        0  2000000
203                        0        0        0       0   115000        0
204                        0   890000        0       0        0   189000
205                        0        0        0       0        0        0
206                        0        0        0       0        0        0
301                        0        0   765000       0        0        0
302                        0        0        0       0        0        0
303                        0        0        0    8000        0        0
304                        0        0        0       0        0        0
305                        0        0        0       0  1175000   200000
306                        0    70000        0       0        0        0
electricity pricing        0        0        0       0    24670    13500
internet pricing      127490   127490   127490  254980   127490   127490
management rate       150000   300000   150000  150000   150000   150000
water rate                 0        0        0       0   634720        0

                                                        ...                   \
DateMonth            2021-01  2021-02  2021-03 2021-04  ... 2021-06  2021-07
Category                                                ...
101                        0        0        0       0  ...       0        0
102                        0        0        0       0  ...       0        0
103                        0        0  3069200   14000  ...       0        0
104                        0        0        0  289236  ...  141000        0
105                        0        0        0       0  ...       0     9000
106                        0        0        0       0  ...       0        0
201                   421560   830450        0       0  ...       0  3040000
202                        0        0    15000   84000  ...       0        0
203                        0        0        0       0  ...       0        0
204                        0        0        0       0  ...  330000        0
205                        0        0        0       0  ...       0        0
206                        0        0        0       0  ...       0        0
301                  1430000        0        0       0  ...       0        0
302                        0    85000        0       0  ...       0        0
303                        0        0        0       0  ...  115000        0
304                        0        0        0       0  ...       0        0
305                        0        0    28000       0  ...       0        0
306                        0  1100000        0       0  ...       0        0
electricity pricing     4470     3750     9190    3670  ...    4850     6200
internet pricing      127490   127490   127490  127490  ...  127490   127490
management rate       300000   150000   150000  150000  ...       0        0
water rate            121110   118420    99510  169530  ...  308130   166840

                                                                          \
DateMonth            2021-08 2021-09  2021-10  2021-11  2021-12  2022-01
Category
101                        0       0   169000        0        0        0
102                        0       0        0   365390  1429610        0
103                        0  200000        0        0        0        0
104                        0       0        0        0        0        0
105                        0       0        0        0        0        0
106                        0       0        0        0        0        0
201                        0       0        0        0        0        0
202                        0       0        0  2100000        0        0
203                        0       0        0        0        0        0
204                        0       0        0        0        0        0
205                        0       0        0        0        0        0
206                  2226740       0        0        0        0        0
301                        0       0  2600000        0        0        0
302                        0       0        0        0        0        0
303                        0       0        0        0        0        0
304                        0       0        0        0        0        0
305                        0       0        0        0        0        0
306                        0  135000        0        0        0  2150000
electricity pricing    12830    6550     6330     6650     6650     5800
internet pricing      127490  127490   127490   126390   126390   254980
management rate       150000  150000   150000   150000   150000   150000
water rate            158770  145320   127840   125150   100340   135910


DateMonth            2022-02 2022-03
Category
101                        0       0
102                        0       0
103                  2411000       0
104                        0       0
105                        0       0
106                        0       0
201                        0       0
202                        0       0
203                        0       0
204                        0       0
205                        0       0
206                        0       0
301                        0       0
302                    30000       0
303                  2302000       0
304                        0       0
305                        0       0
306                        0       0
electricity pricing     6850    6910
internet pricing           0  127490
management rate       150000  150000
water rate            141290  133220

[22 rows x 21 columns]

In [62]:
df['Income'] = df['Deposit'] - df['Withdraw']

# 행은 'Category', 열은 'DateMonth', 값은 'Withdraw'로 피벗을 만든다.
df_Income = df.pivot_table(index = ['Category'], values = ['Income'], aggfunc=np.sum)
# csv파일로 저장한다.
df_Income.to_csv("./pivoted-Income-sample.csv", sep=",", encoding="utf-8")
print(df_Income)

                       Income
Category
101                  11571000
102                   6115000
103                   5145800
104                   5559764
105                   6146000
106                   4500000
201                   8147990
202                  10389000
203                   5285000
204                   5771000
205                   6765000
206                   5363260
301                  11205000
302                   6735000
303                   7197000
304                   5180000
305                   7037000
306                   5885000
electricity pricing   -133530
internet pricing     -2165130
management rate      -3000000
water rate           -2827390

In [63]:
#생성된 df 데이터프레임을 월별 Deposit, Withdraw만 표시하고  Num, Balance 컬럼은 삭제
df_group = df.groupby('DateMonth').sum().drop(['Num','Balance'],axis=1)
df_group['income'] = df_group['Deposit'] - df_group['Withdraw']

#print(df_group)#